# Frontend 
frontend/node_modules/
frontend/.angular/
frontend/dist/
frontend/coverage/
frontend/npm-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.angular/cache/

# Allgemein
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
.history/

# TypeScript/Angular build outputs 
out-tsc/
tmp/
dist/